.infoLine {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
}

.copyButton {
  border: none;
  text-shadow: none;
  display: inline-block;
  margin-top: 0px;
  right: 9px;
  font-size: 0.8em;
  background: #00000030;
  padding: 1px 7px;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  visibility: hidden;
  position: relative;
  outline: none;
}

.copyButton .checkmark {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.copyButton.showCheckmark .checkmark {
  opacity: 1;
}

.copyButton.showCheckmark > div:nth-child(2) {
  visibility: hidden;
}

.infoLine:hover .copyButton {
  visibility: visible;
}

[data-rail-placeholder] div {
  position: relative;
  background: #00000040;
  padding: 0px 6px;
  border-radius: 4px;
  font-size: 0.8em;
  overflow: hidden;
  margin: 3px 0px;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

[data-rail-placeholder] div:before {
  animation: progress 1s ease-out 0.2s;
  animation-fill-mode: both;
  animation-direction: normal;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 0%;
  background: #00000038;
  z-index: -1;
}
