.fuzzyHighlight {
  color: #ffeb3b;
  font-weight: bold;
}

.inputNotEmpty .pallete_row_main_col {
  font-weight: normal;
}

.inputWrapper {
  position: relative;
}

.indicators {
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  align-items: center;
}

.titleIcon {
  margin-inline-end: 9px;
  height: 100%;
  display: flex;
  align-items: center;
}

.input::placeholder {
  color: #ffffff80;
}

.badgeWrapper {
  display: flex;
  align-items: baseline;
}

.devBadge {
  padding: 3px 7px 1px;
  border-radius: 6px 0px 0px 6px;
  background: #e91e63;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-right: 0px;
  display: block;
  text-shadow: none;
  box-shadow: 0px 0px 6px inset #000000a1, 0px -1px #00000080;
}

.buildAge {
  font-size: 0.8em;
  padding: 3px 7px 1px;
  border-radius: 0px 6px 6px 0px;
  background: #ff5722;
  font-weight: normal;
  font-size: 0.7em;
  margin-right: 12px;
  display: block;
  color: white;
  text-shadow: none;
  box-shadow: 0px -1px #00000080;
}
