@keyframes spotim-scroll-to-comments-appear {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  90% {
    transform: scale(1.02);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.reset-css {
  azimuth: initial;
  border-collapse: initial;
  border-spacing: initial;
  caption-side: initial;
  color: initial;
  cursor: initial;
  direction: initial;
  elevation: initial;
  empty-cells: initial;
  font-family: initial;
  font-size: initial;
  font-style: initial;
  font-variant: initial;
  font-weight: initial;
  font: initial;
  letter-spacing: initial;
  line-height: initial;
  list-style-image: initial;
  list-style-position: initial;
  list-style-type: initial;
  list-style: initial;
  orphans: initial;
  pitch-range: initial;
  pitch: initial;
  quotes: initial;
  richness: initial;
  speak-header: initial;
  speak-numeral: initial;
  speak-punctuation: initial;
  speak: initial;
  speech-rate: initial;
  stress: initial;
  text-align: initial;
  text-indent: initial;
  text-transform: initial;
  visibility: initial;
  voice-family: initial;
  volume: initial;
  white-space: initial;
  widows: initial;
  word-spacing: initial;
  -webkit-font-smoothing: unset;
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: red;
  color: white;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 18px;
  padding: 10px;
  line-height: 1.5;
  z-index: 100000000000;
  animation: spotim-scroll-to-comments-appear 0.2s ease-out;
  direction: ltr;
  max-width: 600px;
  margin: 5em auto;
  border-radius: 1em;
  overflow: hidden;
  border: 3px solid;
  box-shadow: 0px 1px 4px #00000075, 0px 1px 24px #00000075,
    0px 0px 40px 5px #0000001c inset;
  text-shadow: 0px 2px #00000033;
}

.below_notifications {
  margin: 10em auto;
}

/*
 * Why not use normal "table" HTML tag you ask?
 *
 * Well, initially this extension would render dierctly to the document,
 * I only started rendering to a shadow-dom long after I wrote this.
 * This caused a lot of CSS override issues so I succombed and decided to
 * use only divs everywere.
 * Someday I'll clear this thing up.
 */
.message .table {
  display: table;
  border: none;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 0;
  color: inherit;
  font-weight: inherit;
}

.message .table .tr {
  display: table-row;
  background: initial !important;
}

.message .table .td {
  display: table-cell;
  padding: initial;
  border: none;
  border-bottom: 1px solid #00000021;
}

.message.dark .table .td {
  border-bottom: 1px solid #ffffff21;
}

.message .table .tr:last-child .td {
  border-bottom: none;
}

.message .table .td:first-child {
  text-align: right;
  padding-right: 12px;
}

.scrollable_area {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}

.close_button {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #ffffff73;
  cursor: pointer;
  padding: 10px;
  line-height: 11px;
  z-index: 11;
}

.close_button:active {
  text-shadow: 0px -2px #00000033;
}

.inset_shadow {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  box-shadow: 0px 0px 3px black inset;
  z-index: 100;
  border-radius: 14px;
  pointer-events: none;
}

.title {
  padding: 12px 0px 10px;
  box-shadow: 0px -20px 50px -24px #00ffff36 inset, 0px 1px 1px #00000038;
  margin: -10px -10px 8px;
  position: relative;
  z-index: 10;
}

.dark .title {
  box-shadow: 0px -20px 50px -24px #c3c3c336 inset, 0px 1px 1px #cccccc38;
}

.titleIcon {
  margin-inline-end: 12px;
}

.muted_text {
  text-shadow: none;
  color: #ffffff73;
  font-weight: normal;
}

.weight_normal {
  font-weight: normal;
}

.muted_result {
  font-weight: normal;
  opacity: 0.8;
}

.weight_bold {
  font-weight: bold;
}

.pallete_row_main_col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.palette_row_description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.palette_row_recently_used {
  font-weight: normal;
  font-size: 0.7em;
  opacity: 0.7;
  margin: 0px 7px;
  flex: 0 0 auto;
  transform: translateX(26px);
}

[data-selected] .palette_row_recently_used {
  transform: translateX(0px);
}

.margin_top {
  margin-top: 12px;
}

.emoji {
  position: absolute;
  font-size: 6em;
  transform: translateY(-50%);
  top: 50%;
  left: -15px;
  z-index: -1;
  text-shadow: 0px 0px 10px #0000006e;
  height: 150px;
}

.message-box-content {
  font-size: 0.9em;
  text-shadow: none;
  font-weight: normal;
}

.title + .emoji {
  margin-top: 20px;
}

.message_progress {
  background: black;
  position: absolute;
  left: 0px;
  height: 100%;
  width: 0%;
  top: 0px;
  opacity: 0.2;
  z-index: -1;
  transition: width 0.2s ease-out;
}

.code {
  font-family: monaco;
  font-size: 13px;
  color: #d3d5da;
  margin: 10px 0px;
  display: inline-block;
  background: #2b579c;
  padding: 4px 8px;
  border-radius: 5px;
}

.mono {
  background: #0000003d;
  padding: 1px 7px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px #00000063;
  color: white;
  font-family: monaco;
  font-size: 15px;
  margin: 4px 0px;
  display: inline-block;
}

.modifier-key {
  font-family: Helvetica, Arial, sans-serif;
}

.dark .mono {
  background: #ffffff3d;
}

.hidden {
  opacity: 0.5;
}

.detailed_description {
  font-weight: normal;
  font-size: 0.8em;
  margin: 2px 0px 5px;
  color: #ffffffbf;
}

.mono a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.mono a:focus,
.mono a:hover {
  text-decoration: underline;
}

.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  background: #ffffff33;
  border: none;
  border-radius: 6px;
  outline: none;
  box-shadow: 0px 3px 9px #0000002e inset;
  border-top: 1px solid #0000004f;
  border-bottom: 1px solid #ffffff42;
  color: white;
  font-weight: bold;
}

.results {
  max-height: 270px;
  overflow-y: scroll;
  padding-right: 10px;
}

.input + .results:not(:empty) {
  margin-top: 12px;
}

.results .tr {
  cursor: pointer;
}

.input + .results .table .tr .td:first-child {
  padding-right: 20px;
}

.input + .results .table .tr .td:nth-child(2) {
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #0000001a;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #00000036;
}

.gutterActions {
  display: flex;
  margin: -10px;
  padding: 10px 0px;
  border-top: 1px solid #0000000f;
  background: linear-gradient(#ffffff2b, #0000001a);
  margin-top: 0px;
  z-index: 1;
  position: relative;
}

.gutterActions .gutterActionsButton {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background: none;
  border: none;
  flex: auto;
  margin: -10px 0px;
  border-right: 1px solid #00000038;
  cursor: pointer;
  padding: 1em 0px;
}

pre {
  text-align: left;
  padding: 0px 10px;
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 0.8em;
  text-shadow: none;
  font-weight: normal;
  -webkit-font-smoothing: auto;
  background: #0000001c;
  padding: 10px 14px;
  box-shadow: 0px 0px 10px -7px black inset;
  border-radius: 10px;
  margin: 0px;
  border: 1px solid #00000029;
}
