.whatsNewWrapper {
  text-align: left;
  margin-top: -7px;
  font-weight: normal;
}

.whatsNewContent {
  max-height: calc(100vh - 10em - 180px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 10px;
  margin: 0px -10px;
  padding-top: 1em;
}

.whatsNewContent .whatsNewTitle {
  margin-left: -10px;
  padding-left: 1em;
  margin-right: -10px;
  padding-top: 1em;
  font-weight: bold;
  padding-bottom: 0em;
}

.whatsNewContent .whatsNewTitle.latest {
  text-shadow: 0px 0px 10px #ffffff91;
}

.whatsNewContent .whatsNewTitle:not(.latest) {
  opacity: 0.75;
}

.whatsNewContent .whatsNewPreviousTitle {
  margin-left: -10px;
  padding-left: 1em;
  margin-right: -10px;
  border-top: 1px solid #00000040;
  padding-top: 1em;
  font-weight: bold;
  padding-bottom: 0em;
  border-bottom: 1px solid #3c3c3c26;
  padding: 0.5em 1em;
  background: #00000017;
  text-align: left;
}

.whatsNewFeatureRequest {
  text-align: left;
  padding: 0.5em calc(0.5em + 10px);
  background: #8bc34a;
  margin: 0px -10px;
  text-align: left;
  border-top: 1px solid #3f51b5;
}

.whatsNewFeatureRequest a {
  color: white;
}

.whatsNewContent .whatsNewTitle:first-child {
  margin-top: -18px;
  border: none;
  background: none;
}

.whatsNewContent p {
  font-weight: bold;
  margin: 0px 0.6em;
}

.whatsNewContent ul {
  margin-top: 0.4em;
  list-style: disc;
  margin-bottom: 0px;
}

.whatsNewContent ul:last-child {
  margin-bottom: 1em;
}

.whatsNewContent ul.latest {
  text-shadow: 0px 0px 10px #ffffff70;
}

.whatsNewContent ul:not(.latest) {
  opacity: 0.75;
}

.whatsNewContent .whatsNewDescription {
  font-size: 0.8em;
  opacity: 0.6;
}
